[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "*"

[packages]
grpcio = "*"
protobuf = "*"
grpcio-reflection = "*"

[requires]
python_version = "3.7"
